/Test.class
/Test$SleepingThread.class
/volatileTesting.class
/VolatileTesting$ChangeListener.class
/VolatileTesting$ChangeMaker.class
/VolatileTesting.class
/MyEmailSending$Consumer.class
/MyEmailSending$Producer.class
/MyEmailSending.class
/SampleClass$1.class
/SampleClass.class
